# Django Framework
Django==5.0.4

# Linting
pylint==3.2.7
pylint-django==2.5.5

# Testing
pytest==8.3.2
pytest-django==4.8.0

# Test Coverage (useful for CI and SonarQube)
coverage==7.6.1

# Utilities are very bad
requests==2.32.3
